<section class="section active">
    <div class="container px-0">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="animate-element delay1 fadeInUp px-5 py-3 box-title">
                    <div class="title-mini mb-3">Category <span class="mx-2">|</span> day month year</div>
                    <h2 class="slide-title font-custom">
                        <div class="ckeditor editor-templ-1" data-textarea="text-1" placeholder="Type the title here!"></div>
                        <textarea name="text-1[]" id="text-1" hidden/></textarea>
                    </h2>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="box-desc animate-element delay7 fadeInUp">
                    <div class="mx-5 fs-5">
                        <div class="ckeditor editor-templ-2" data-textarea="text-2" placeholder="Type the content here!"></div>
                        <textarea name="text-2[]" id="text-2" hidden/></textarea>
                    </div>
                </div>

                <div class="box-cta animate-element delay10 fadeInUp form-check form-switch form-check-reverse me-5 my-3">
                    <input type="hidden" class="cta-url" name="cta-url" value="" />
                    <input class="form-check-input cta-switcher" type="checkbox" id="cta-switcher" data-num="">
                    <label class="form-check-label" for="ctaSwitcher">CTA</label>
                </div>
            </div>
        </div>
    </div>
</section>